.settings-prop {
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 500;

  border-radius: 5px;
  opacity: 0.3;
  transition: all 0.2s ease;

  &_available {
    cursor: pointer;
    background-color: var(--fourth-grey);
    opacity: 1;
  }

  &_active {
    color: var(--main-white);

    background-color: var(--accent-color);
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.04);
  }
}