.main-layout-header__logo {
  display: flex;
  align-items: center;
  gap: 10px;

  .logo__text {
    p {
      &:first-child {
        font-size: 24px;
        font-weight: 700;
      }

      &:last-child {
        font-size: 16px;
        color: var(--third-grey);
      }
    }
  }
}