:root {
  --main-black: #282828;
  --main-white: #ffffff;
  --bg-orange: #ffdf8c;
  --accent-color: #fe5f1e;
  --disable-color: #f3f3f3;
  --first-grey: #d0d0d0;
  --second-grey: #d7d7d7;
  --third-grey: #b6b6b6;
}